<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="sites" value="http://pmo.opt-osfns.org/DashBoard/SFPO/SFOtherPO" />
    <add key="sitetemplate" value="PROJECTSITE"/>
    <add key="projectstatement" value="Project Statement"/>
    <add key="tasks" value="Tasks"/>
    <add key="alltasksView" value="All Tasks"/>
    <add key="opentaskView" value="Open Tasks"/>
    <add key="latetaskView" value="Late Tasks"/>
    <add key="completedtaskView" value="Completed"/>
    <add key="mytaskView" value="My Tasks"/>
    <add key="overduetaskView" value="Overdue Tasks"/>
    <add key="issues" value="Issues"/>
    <add key="allissuesView" value="All Issues"/>
    <add key="myissuesView" value="My Issues"/>
    <add key="activeissuesView" value="Active Issues"/>
    <add key="overdueissuesView" value="Overdue Issues"/>
    <add key="risks" value="Risks"/>
    <add key="allrisksView" value="All Risks"/>
    <add key="myrisksView" value="My Risks"/>
    <add key="highrisksView" value="High Risks"/>
    <add key="byprojectphaseView" value="By Project Phase"/>
    <add key="contacts" value="contacts"/>
    <add key="contactsView" value="All contacts"/>
    <add key="JSFile" value="~sitecollection/Style%20Library/PMOCustom/JSLink/TasksDueDate.js"/>
    <add key="JSTask" value="Style%20Library/PMOCustom/JSLink/TasksDueDate.js"/>
    <add key="JSIssue" value="Style%20Library/PMOCustom/JSLink/IssuesDueDate.js"/>    
    <add key="statusreport" value="Status Report"/>   
  </appSettings>
</configuration>