<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>    
    <add key="rootSite" value="http://pmo.opt-osfns.org"/>
    <add key="logfile" value="C:\\PMOUserProfileSyncLogs.txt"/>
    <add key ="Mode" value ="daily"/>    
    <add key ="IntervalMinutes" value ="15"/>
    <add key ="ScheduledTime" value ="08:02"/>
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>