<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003"><ItemGroup><MsDeployDeclareParameters Include="ClientId">
            <Kind>XmlFile</Kind>
            <Scope>web.config$</Scope>
            <Match>/configuration/appSettings/add[@key='ClientId']/@value</Match>
            <Description>Value for ClientId here.</Description>
            <DefaultValue>b42d867f-2a30-4693-b95f-5c7b98fbbea2</DefaultValue>
            <Value>b42d867f-2a30-4693-b95f-5c7b98fbbea2</Value>
            <Tags>applicationSettings</Tags>
        </MsDeployDeclareParameters><MsDeployDeclareParameters Include="ClientSigningCertificatePath">
            <Kind>XmlFile</Kind>
            <Scope>web.config$</Scope>
            <Match>/configuration/appSettings/add[@key='ClientSigningCertificatePath']/@value</Match>
            <Description>Value for ClientSigningCertificatePath here.</Description>
            <DefaultValue>C:\certs\ProviderHostedHighTrust.pfx</DefaultValue>
            <Value>C:\certs\ProviderHostedHighTrust.pfx</Value>
            <Tags>applicationSettings</Tags>
        </MsDeployDeclareParameters><MsDeployDeclareParameters Include="ClientSigningCertificatePassword">
            <Kind>XmlFile</Kind>
            <Scope>web.config$</Scope>
            <Match>/configuration/appSettings/add[@key='ClientSigningCertificatePassword']/@value</Match>
            <Description>Value for ClientSigningCertificatePassword here.</Description>
            <DefaultValue>123456</DefaultValue>
            <Value>123456</Value>
            <Tags>applicationSettings</Tags>
        </MsDeployDeclareParameters><MsDeployDeclareParameters Include="IssuerId">
            <Kind>XmlFile</Kind>
            <Scope>web.config$</Scope>
            <Match>/configuration/appSettings/add[@key='IssuerId']/@value</Match>
            <Description>Value for IssuerId here.</Description>
            <DefaultValue>d250d0bc-d44e-4d8b-9e36-567817943628</DefaultValue>
            <Value>d250d0bc-d44e-4d8b-9e36-567817943628</Value>
            <Tags>applicationSettings</Tags>
        </MsDeployDeclareParameters></ItemGroup>
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://44vspappsdev/NYDOE.RER.PSALWeb/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>E:\Projects 2015\NYDOE.RER.PSAL.Deploy\NYDOE.RER.PSALWeb.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>Default Web Site/NYDOE.RER.PSALWeb</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="" />
    </PublishDatabaseSettings>
  </PropertyGroup>
</Project>